.instruments_panel {

}

.instruments_panel .item {
	background: rgb(207, 207, 207);
	display: inline-block;
	text-align: center;
	padding: 3px;
	font-weight: bold;
}

.instruments_panel .item:hover:not(.notHighlight),
.instruments_panel .item.selected {
	background: rgb(83, 167, 0);
}


.instruments_panel .item .object {
	line-height: 50px;
	font-size: 50px;
	height: 50px;
	cursor: pointer;
	min-width: 60px;
}

.instruments_panel .item .object .link {
	position: relative;
	top: 25px;
	height: 2px;
	width: 60px;
	background: #000000;
}

.instruments_panel .item .object .link.input {
	background: green;
}

.instruments_panel .item .object .link.output {
	background: orangered;
}