.network {
	display: inline-block;
	border: 1px solid lavender;
	position: relative;
	min-height: 10px;
	width: 755px;
}

.network .layer {
	text-align: center;
	width: 60px;
	padding: 20px;
	min-height: 50px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid #4B4D61;
	border-bottom: 10px solid #4B4D61;

	display: table-cell;
	vertical-align: middle;
}

.network .layer:hover,
.network .layer.selected{
	cursor: pointer;
	border-top-color: #005580;
	border-bottom-color: #005580;
}
.network .layer.js-hover{
	background: rgb(231, 231, 231);
}

.network .layer .neuron,
.instruments_panel .neuron,
.body .neuron {
	z-index: 10;

	line-height: 50px;
	text-align: center;

	width: 50px;
	height: 50px;
	background: gray;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;

	border: 3px solid gray;
}

.network .layerWrapper{
	position: absolute;
}

.network .layer .neuron.input {
	border: 3px solid green;
}

.network .layer .neuron.input input{
	width: 40px;
	border: 0;
	text-align: center;
}

.network .layer .neuron.output {
	border: 3px solid orangered;
}

.network .layer .neuron.selected{
	background: antiquewhite;
}

.network .layer .neuron.selected.showedInfo{
	background: darkkhaki;
}


.network .layer .neuron:hover:not(.selected) {
	background: rgb(206, 206, 206);
}

.network .layer .neuron {

	margin: 45px 0;
	cursor: pointer;
}

.instruments_panel .neuron {
	cursor: -webkit-grab;
}

.instruments_panel .neuron:active
.neuron:active{
	cursor: -webkit-grabbing;
}