<span ng-controller="networkConstructor">
	<div class="instruments_panel bordered disableSelection">
		<div class="item notHighlight">
			<div class="object">
				<div class="neuron" net-draggable="">&nbsp;</div>
			</div>
			<div class="name">
				neuron
			</div>
		</div>

		<div class="item"
			 ng-click="setState('setLink');"
			 ng-class="{selected:constructorState==='setLink'}">

			<div class="object link">
				&#8594;
			</div>
			<div class="name">
				link
			</div>
		</div>

		<div class="item"
			 ng-click="setState('addInputNeuron');"
			 ng-class="{selected:constructorState==='addInputNeuron'}">

			<div class="object input">
				&#8594;
			</div>
			<div class="name">
				input
			</div>
		</div>

		<div class="item"
			 ng-click="setState('addOutputNeuron');"
			 ng-class="{selected:constructorState==='addOutputNeuron'}">

			<div class="object output">
				&#8594;
			</div>
			<div class="name">
				output
			</div>
		</div>

		<div class="item"
			 ng-click="setAutoConnections();">

			<div class="object link">
				&#8649;
			</div>
			<div class="name" title="auto connections">
				auto
			</div>
		</div>

		<div class="item" ng-click="addLayer()">
			<div class="object">
				+
			</div>
			<div class="name">
				add layer
			</div>
		</div>

		<div class="item" ng-click="init()">
			<div class="object">
				X
			</div>
			<div class="name">
				reset
			</div>
		</div>
	</div>

	<div class="network bordered disableSelection" net-link-storage ng-include="'views/network/network.html'">
	</div>
	<div class="bordered info" ng-include="'views/network/additionalinfo.html'">
	</div>
</span>